/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /** Text **/
  --text-color: light-dark(var(--color-gray-100), var(--color-gray-05));
  --text-color-disabled: color-mix(in srgb, currentColor 40%, transparent);
  --text-color-accent-primary-selected: light-dark(var(--color-white), var(--color-gray-100));
  --text-color-deemphasized: color-mix(in srgb, currentColor 69%, transparent);
  --text-color-error: light-dark(var(--color-red-70), var(--color-red-20));
  --text-color-list-item-hover: var(--text-color);
}

@media (prefers-contrast) {
  :root {
  /** Text **/
  --text-color: CanvasText;
  --text-color-deemphasized: inherit;
  --text-color-error: inherit;
  --text-color-list-item-hover: SelectedItemText;
  }
}

@media (forced-colors) {
  :root {
  /** Text **/
  --text-color-disabled: GrayText;
  --text-color-accent-primary-selected: SelectedItemText;
  }
}
