/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /** Dimension **/
  --dimension-2: 2px;
  --dimension-4: 4px;
  --dimension-8: 8px;
  --dimension-12: 12px;
  --dimension-16: 16px;
  --dimension-20: 20px;
  --dimension-24: 24px;
  --dimension-32: 32px;
  --dimension-40: 40px;
  --dimension-48: 48px;
  --dimension-56: 56px;
  --dimension-64: 64px;
  --dimension-80: 80px;
  --dimension-96: 96px;
  --dimension-100: 100px;
  --dimension-200: 200px;
  --dimension-300: 300px;
  --dimension-400: 400px;
  --dimension-500: 500px;
  --dimension-relative-025: 0.25rem;
  --dimension-relative-050: 0.5rem;
  --dimension-relative-075: 0.75rem;
  --dimension-relative-100: 1rem;
  --dimension-relative-125: 1.25rem;
  --dimension-relative-0125: 0.125rem;
  --dimension-relative-150: 1.5rem;
  --dimension-relative-200: 2rem;
  --dimension-relative-250: 2.5rem;
  --dimension-relative-300: 3rem;
  --dimension-relative-350: 3.5rem;
  --dimension-relative-400: 4rem;
  --dimension-relative-500: 5rem;
  --dimension-relative-600: 6rem;

  /** Icon **/
  --icon-size: var(--icon-size-small);
  --icon-size-xsmall: var(--dimension-12);
  --icon-size-small: var(--dimension-16);
  --icon-size-medium: var(--dimension-20);
  --icon-size-large: var(--dimension-24);
  --icon-size-xlarge: var(--dimension-32);

  /** Page **/
  --page-main-content-width: 664px;

  /** Size **/
  --size-image-xsmall: var(--dimension-40);
  --size-image-small: var(--dimension-48);
  --size-image-medium: var(--dimension-56);
  --size-image-large: var(--dimension-64);
  --size-image-xlarge: var(--dimension-80);
  --size-image-xxlarge: var(--dimension-96);
  --size-item-xsmall: var(--dimension-12);
  --size-item-small: var(--dimension-16);
  --size-item-medium: var(--dimension-24);
  --size-item-large: var(--dimension-32);
  --size-item-xlarge: var(--dimension-48);
  --size-layout-xsmall: var(--dimension-100);
  --size-layout-small: var(--dimension-200);
  --size-layout-medium: var(--dimension-300);
  --size-layout-large: var(--dimension-400);
  --size-layout-xlarge: var(--dimension-500);
  --size-sidebar: 280px;
  --size-sidebar-narrow: 118px;

  /** Space **/
  --space-xxsmall: var(--dimension-relative-0125);
  --space-xsmall: var(--dimension-relative-025);
  --space-small: var(--dimension-relative-050);
  --space-medium: var(--dimension-relative-075);
  --space-large: var(--dimension-relative-100);
  --space-xlarge: var(--dimension-relative-150);
  --space-xxlarge: var(--dimension-relative-200);
}
