/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /** Button **/
  --button-border: var(--border-width) solid var(--button-border-color);
  --button-border-radius: var(--border-radius-small);
  --button-font-weight: var(--font-weight-bold);
  --button-icon-fill: currentColor;
  --button-icon-stroke: var(--button-icon-fill);
  --button-min-height: var(--size-item-large);
  --button-min-height-small: var(--size-item-medium);
  --button-opacity-disabled: 0.5;
  --button-padding: var(--space-xsmall) var(--space-large);
  --button-padding-icon: 0;

  /** Checkbox **/
  --checkbox-margin-inline: var(--space-small);

  /** Focus Outline **/
  --focus-outline: var(--focus-outline-width) solid var(--focus-outline-color);
  --focus-outline-inset: calc(-1 * var(--focus-outline-width));
  --focus-outline-offset: 2px;
  --focus-outline-width: 2px;

  /** Input - Text **/
  --input-text-min-height: var(--button-min-height);
}

@media (forced-colors) {
  :root {
  /** Button **/
  --button-opacity-disabled: 1;
  }
}
