/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /** Table **/
  --table-background-color: light-dark(#f8f8fa, rgb(35, 34, 43));
  --table-border-color: color-mix(in srgb, currentColor 41%, transparent);
  --table-header-background-color: var(--color-accent-primary);
  --table-header-text-color: light-dark(
    var(--color-white),
    var(--color-gray-100)
  );
  --table-row-background-color: var(--background-color-canvas);
  --table-row-background-color-alternate: light-dark(
    #f0f0f4,
    var(--color-gray-80)
  );
}

@media (forced-colors) {
  :root {
    /** Table **/
    --table-background-color: Canvas;
    --table-border-color: CanvasText;
    --table-header-background-color: AccentColor;
    --table-header-text-color: AccentColorText;
    --table-row-background-color-alternate: var(--background-color-canvas);
  }
}
