/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /** Icon **/
  --icon-size: var(--icon-size-small);
  --icon-size-xsmall: var(--size-item-xsmall);
  --icon-size-small: var(--size-item-small);
  --icon-size-medium: 20px;
  --icon-size-large: var(--size-item-medium);
  --icon-size-xlarge: var(--size-item-large);

  /** Page **/
  --page-main-content-width: 664px;

  /** Size **/
  --size-item-xsmall: 12px;
  --size-item-small: 16px;
  --size-item-medium: 24px;
  --size-item-large: 32px;
  --size-item-xlarge: 48px;
  --size-sidebar: 280px;
  --size-sidebar-narrow: 118px;
}
