/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /** Icon **/
  --icon-size: var(--icon-size-small);
  --icon-size-xsmall: var(--dimension-12);
  --icon-size-small: var(--dimension-16);
  --icon-size-medium: var(--dimension-20);
  --icon-size-large: var(--dimension-24);
  --icon-size-xlarge: var(--dimension-32);

  /** Page **/
  --page-main-content-width: 664px;

  /** Size **/
  --size-image-xsmall: var(--dimension-40);
  --size-image-small: var(--dimension-48);
  --size-image-medium: var(--dimension-56);
  --size-image-large: var(--dimension-64);
  --size-image-xlarge: var(--dimension-80);
  --size-image-xxlarge: var(--dimension-96);
  --size-item-xsmall: var(--dimension-12);
  --size-item-small: var(--dimension-16);
  --size-item-medium: var(--dimension-24);
  --size-item-large: var(--dimension-32);
  --size-item-xlarge: var(--dimension-48);
  --size-layout-xsmall: var(--dimension-100);
  --size-layout-small: var(--dimension-200);
  --size-layout-medium: var(--dimension-300);
  --size-layout-large: var(--dimension-400);
  --size-layout-xlarge: var(--dimension-500);
  --size-sidebar: 280px;
  --size-sidebar-narrow: 118px;
}
