/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /** Checkbox **/
  --checkbox-margin-inline: var(--space-small);
  --checkbox-size: var(--size-item-small);

  /** Focus Outline **/
  --focus-outline: var(--focus-outline-width) solid var(--focus-outline-color);
  --focus-outline-inset: calc(-1 * var(--focus-outline-width));
  --focus-outline-offset: 2px;
  --focus-outline-width: 2px;

  /** Input - Text **/
  --input-text-min-height: var(--button-min-height);
}
