/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /** Checkbox **/
  --checkbox-size: var(
    --size-item-small
  ); /* TODO Bug 1876537: Make this em-based, probably? */

  /** Focus Outline **/
  --focus-outline-width: 2px;

  /** Icon **/
  --icon-size-default: var(--icon-size-small);
  --icon-size-xsmall: 12px;
  --icon-size-small: var(--size-item-small);
  --icon-size-medium: 20px;
  --icon-size-large: 24px;
  --icon-size-xlarge: var(--size-item-large);

  /** Input - Text **/
  --input-text-min-height: var(--button-min-height);

  /** Page **/
  --page-main-content-width: 664px;

  /** Size **/
  --size-item-small: 16px;
  --size-item-medium: 24px;
  --size-item-large: 32px;
}
