/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /** Space **/
  --space-xxsmall: calc(0.5 * var(--space-xsmall));
  --space-xsmall: 0.267rem;
  --space-small: calc(2 * var(--space-xsmall));
  --space-medium: calc(3 * var(--space-xsmall));
  --space-large: calc(4 * var(--space-xsmall));
  --space-xlarge: calc(6 * var(--space-xsmall));
  --space-xxlarge: calc(8 * var(--space-xsmall));
}
