/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /** Border **/
  --border-color: light-dark(var(--color-gray-50), var(--color-gray-70));
  --border-color-deemphasized: light-dark(
    var(--color-gray-30),
    var(--color-gray-70)
  );
  --border-color-error: light-dark(var(--color-red-70), var(--color-red-20));
  --border-color-interactive: light-dark(
    var(--color-gray-60),
    var(--color-gray-50)
  );
  --border-color-interactive-hover: var(--border-color-interactive);
  --border-color-interactive-active: var(--border-color-interactive);
  --border-color-interactive-disabled: var(--border-color-interactive);
  --border-color-selected: var(--color-accent-primary);
  --border-color-transparent: transparent;
  --border-radius-circle: 9999px;
  --border-radius-xsmall: 2px;
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 16px;
  --border-width: 1px;
}

@media (prefers-contrast) {
  :root {
    /** Border **/
    --border-color: CanvasText;
    --border-color-deemphasized: currentColor;
    --border-color-error: var(--border-color);
    --border-color-interactive: var(--text-color);
    --border-color-transparent: CanvasText;
  }
}

@media (forced-colors) {
  :root {
    /** Border **/
    --border-color-deemphasized: ButtonText;
    --border-color-interactive: ButtonText;
    --border-color-interactive-hover: SelectedItem;
    --border-color-interactive-active: ButtonText;
    --border-color-interactive-disabled: GrayText;
    --border-color-selected: SelectedItem;
  }
}
