/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /** Link **/
  --link-color: var(--color-accent-primary);
  --link-color-hover: var(--color-accent-primary-hover);
  --link-color-active: var(--color-accent-primary-active);
  --link-color-visited: var(--link-color);
  --link-focus-outline-offset: 1px;
  --link-nova-color: var(--color-accent-primary);
  --link-nova-color-hover: var(--color-accent-primary-hover);
  --link-nova-color-active: var(--color-accent-primary-active);
  --link-nova-color-visited: var(--link-color);
}

@media (forced-colors) {
  :root {
    /** Link **/
    --link-color: LinkText;
    --link-color-hover: LinkText;
    --link-color-active: ActiveText;
    --link-color-visited: var(--link-color);
    --link-nova-color: LinkText;
    --link-nova-color-hover: LinkText;
    --link-nova-color-active: ActiveText;
  }
}
